
.navbar{
    background-color: #ffff;
    box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
    height: auto;
}

.titleLogo{
    color: #DB3022;
    font-size: 24px;
    font-weight: 700;
    margin: 0px !important;
}

.cstmSearch{
    border-radius: 25px 0px 0px 25px !important;
    border: 1px solid #8E8E93 !important;
    border-right: none !important;
    width: 400px;
}

.cstmSearch:focus{
    outline: none !important;
}

.btnSearch{
    border-radius: 0px 25px 25px 0px;
    background-color: white;
    border: 1px solid #8E8E93;
    border-left: none;
}

.btnFilter{
    background-color: white;
    border-radius: 10px;
    border-color: #8E8E93;
}

.btnCart{
    background-color: white;
    border: none;
}

.btnAva{
    border: none;
    background-color: transparent;
}

.cstmAva{
    border-radius: 100%;
}

@media only screen and (max-width: 720px) {
    .cstmSearch{
        width: 200px;
    }

}