/* CSS Search Page */
.main{
    background-color: #FFFFFF;
    height: max-content;
    padding-bottom: 50px;
    padding-top: 50px;
}

.textInfocategory{
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
}

.textTitleCategory{
    color: #222222;
    font-size: 34px;
    font-weight: 700;
}


.cardTitle{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 6px;
}

.textPricecard{
    font-size: 16px;
    font-weight: 500;
    color: #DB3022;
    margin-bottom: 6px;
}

.textBrand{
    font-size: 12px;
    font-weight: 500;
    color: #9B9B9B;
    margin-bottom: 11px;

}

.textStar{
    font-size: 10px;
    font-weight: 400;
    color: #9B9B9B;
}

.cstmLink{
    text-decoration: none;
}