/* CSS Search Page */


.main{
    background-color: #FFFFFF;
    height: max-content;
    padding-bottom: 50px;
}

.textInfocategory{
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
}

.textTitleCategory{
    color: #222222;
    font-size: 34px;
    font-weight: 700;
}