
.cardTitle{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    margin-bottom: 6px;
}

.textPricecard{
    font-size: 16px;
    font-weight: 500;
    color: #DB3022;
    margin-bottom: 6px;
}

.textBrand{
    font-size: 12px;
    font-weight: 500;
    color: #9B9B9B;
    margin-bottom: 11px;

}

.textStar{
    font-size: 10px;
    font-weight: 400;
    color: #9B9B9B;
}